doctype html
html
  head
    title= title
    style.
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
      }
  body
    h1= title
    a(href="/") Return to the homepage

    h2 Create New Bachelor Record
    form(action="/update-cobj" method="POST")
      div
        label(for="name") Name:
        input(type="text" name="name" required)
      div
        label(for="description") Description:
        input(type="text" name="description" required)
      div
        label(for="university") University:
        input(type="text" name="university" required)
      div
        button(type="submit") Submit
